.todo {
    opacity: 0.8;
    font-size: 1.5rem;
    margin: 3px 1.7rem;
    padding: 3px 5px;
    text-decoration: none;
    transition: all 0.5s ease-out;
}

.todo input { zoom: 1.3; }

.todo:hover {
    opacity: 1;
    background: var(--med-gray);
    cursor: pointer;
}

.done {
    text-decoration: line-through;
    opacity: 0.3;
}

.del {
    color:darkRed;
    font-weight:bold;
    zoom:1.1;
    float:right;
    cursor: pointer;
}

.del:hover {
    color: red;
    zoom: 1.2;
}